

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: rgb(7, 92, 73);" >
  <a class="navbar-brand" href="#">Clinica</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home">Inicio <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  
    <div  class="dropdown" *ngIf="this.perfil != 'Paciente'">
      <button class="dropbtn">Especialidad</button>
      <div class="dropdown-content">
      <a  routerLink="/Especialidad/Alta">Alta</a>
      </div>
    </div>


    <div  class="dropdown"  *ngIf="this.perfil == 'Admin'">
        <button class="dropbtn">Administracion</button>
        <div class="dropdown-content">
        <a  routerLink="/Admin/Pendientes">Profesionales Pendientes</a>
        </div>
      </div>

      <ul class="navbar-nav" *ngIf="this.perfil == 'Paciente'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Turno">Nuevo Turno <span class="sr-only">(current)</span></a>
        </li>
      </ul>


      <div  class="dropdown" *ngIf="this.perfil == 'Admin'">
        <button class="dropbtn">Reportes</button>
        <div class="dropdown-content">
        <a  routerLink="/Reporte/TurnosPorMedico">Medicos por Turno</a>
        <a  routerLink="/Reporte/EspecialidadesOperaciones">Operaciones por Especialidad</a>
        <a  routerLink="/Reporte/Ingresos">Ingresos</a>
        <a  routerLink="/Reporte/DiasPorMedico">Dias por Medico</a>
        <a  routerLink="/Reporte/TurnosPorDia">Turnos por Dia</a>
        </div>
      </div>


      <ul class="navbar-nav" *ngIf="this.perfil != 'Paciente'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Busqueda">Busqueda <span class="sr-only">(current)</span></a>
        </li>
      </ul>
  

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Perfil">Mi Perfil <span class="sr-only">(current)</span></a>
        </li>
      </ul>
  

     
  

      <ul class="nav navbar-nav ml-auto">
        <li [hidden]="logeado && this.perfil != 'Admin'" class="nav-item">
          <a class="nav-link"  routerLink="/Registro"><span class="fa fa-address-card"></span> Registro</a>
        </li>
        <li [hidden]="logeado" class="nav-item">
          <a class="nav-link" routerLink="/Login"><span class="fa fa-user"></span> Login</a>
        </li>
        <li [hidden]="!logeado" class="nav-item">
          <a class="nav-link" (click)="Logout()"routerLink="/Login"><span class="fa fa-user"></span> Log Out</a>
        </li>
      </ul>

  </div>
</nav>


