<app-menu-bar></app-menu-bar>


<div class="container" style="margin-top:20px">

    <h3 appCambiarColor>Busqueda de Turnos</h3>

    <hr>


    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Busqueda</label>
        <input type="text" [(ngModel)]="this.busqueda" class="form-control" placeholder="Buscar" name="search">
      </div>

    </div>

  

  <button type="submit" (click)="Buscar()" class="btn btn-info">Buscar</button>



<table class="table" style="margin-top:20px;" >
    <thead class="Thead">
      <tr>
        <th scope="col">idTurno</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Paciente</th>
          <th scope="col">Profesional</th>
          <th scope="col">Fecha</th>
          <th scope="col">Temperatura</th>
          <th scope="col">Presion</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr  *ngFor="let turno of turnosFiltrados; let i=index" (click)="AbrirModal(turno)" >
        <td>{{turno.idTurno}}</td>
        <td>{{turno.especialidad}}<i class="fas fa-list"></i></td>
        <td>{{turno.paciente}} {{turno.pacienteApellido}}</td>
        <td>{{turno.profesional}}</td>
        <td>{{turno.fecha.toDate().toJSON() | fechaPipe}}</td>
        <td>{{turno.datos.temperatura}}</td>
        <td>{{turno.datos.presion}}</td>
        <td>
    
          </tr>


  </table>



  <div *ngIf="this.abierto">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Turno</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
         <span> Paciente:</span> {{this.turnoSelected.paciente}}<br>
          Profesional: {{this.turnoSelected.profesional}}<br>
          Especialidad: {{this.turnoSelected.especialidad}}<br>
          Fecha: {{this.turnoSelected.fecha.toDate().toJSON() | fechaPipe}}<br>
                  <div *ngFor="let item of this.turnoSelected.datos | datos">
                        <span>{{item.nombre}}:</span><span>  {{item.valor}}</span>
                  </div>   
          <hr>
          <div *ngIf="this.turnoSelected.resena != undefined">
          <strong>Reseña Profesional:</strong><br>
          {{this.turnoSelected.resena.resena}}<br>
          <hr>
          <div *ngIf="this.turnoSelected.encuesta != undefined">
          <strong>Observaciones Paciente:</strong><br>
          {{this.turnoSelected.encuesta.observaciones}}
        </div>
<hr>
        </div>
        
      </div>
  </div>

</div>