<app-menu-bar></app-menu-bar>
<!-- Tabla -->
<br>
<h3>Reporte</h3>
<hr>
<div id  ="logins">
<table class="table">     
    <thead class="Thead">
        <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Dia Hora</th>
        </tr>
      </thead>
    <tr  *ngFor="let x of lista; let i=index" >
        <td>{{ x.usuario }}</td>
        <td>{{ x.diahora.toDate()  }}</td>
  </table>

</div>


<button  (click)="ExportarPDF()" >Exportar PDF</button> 
<button  (click)="ExportarExcel()">Exportar Excel</button> 